In [1]:
import numpy as np
import pandas as pd

In [2]:
air_qual_1999 = pd.read_csv('../data/conreport1999.csv')
air_qual_1999.head()

,CBSA Code,CBSA,CO 2nd Max 1-hr,CO 2nd Max 8-hr,NO2 98th Percentile 1-hr,NO2 Mean 1-hr,Ozone 2nd Max 1-hr,Ozone 4th Max 8-hr,SO2 99th Percentile 1-hr,SO2 2nd Max 24-hr,SO2 Mean 1-hr,PM2.5 98th Percentile 24-hr,PM2.5 Weighted Mean 24-hr,PM10 2nd Max 24-hr,PM10 Mean 24-hr,Lead Max 3-Mo Avg
0,10300,"Adrian, MI",.,.,.,.,0.09,0.083,.,.,.,.,.,.,.,.
1,10420,"Akron, OH",4.7,3.1,.,.,0.12,0.098,158,65,11,42,18,68,22,.
2,10500,"Albany, GA",.,.,.,.,.,.,.,.,.,.,.,60,26,.
3,10580,"Albany-Schenectady-Troy, NY",6.4,4.2,.,.,0.11,0.092,37,16,3,.,.,.,.,.
4,10740,"Albuquerque, NM",7.5,4.6,54,16,0.1,0.076,.,.,.,.,.,93,39,.

In [3]:
air_qual_1999.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 456 entries, 0 to 455
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   CBSA Code                    456 non-null    int64
 1   CBSA                         456 non-null    object
 2   CO 2nd Max 1-hr              456 non-null    object
 3   CO 2nd Max 8-hr              456 non-null    object
 4   NO2 98th Percentile 1-hr     456 non-null    object
 5   NO2 Mean 1-hr                456 non-null    object
 6   Ozone 2nd Max 1-hr           456 non-null    object
 7   Ozone 4th Max 8-hr           456 non-null    object
 8   SO2 99th Percentile 1-hr     456 non-null    object
 9   SO2 2nd Max 24-hr            456 non-null    object
 10  SO2 Mean 1-hr                456 non-null    object
 11  PM2.5 98th Percentile 24-hr  456 non-null    object
 12  PM2.5 Weighted Mean 24-hr    456 non-null    object
 13  PM10 2nd Max 24-hr           456 non-null    object
 14  PM10 Mean 24-hr              456 non-null    object
 15  Lead Max 3-Mo Avg            456 non-null    object
dtypes: int64(1), object(15)
memory usage: 57.1+ KB

In [4]:
numeric_cols = air_qual_1999.columns[2:]
numeric_cols

Index(['CO 2nd Max 1-hr', 'CO 2nd Max 8-hr', 'NO2 98th Percentile 1-hr',
       'NO2 Mean 1-hr', 'Ozone 2nd Max 1-hr', 'Ozone 4th Max 8-hr',
       'SO2 99th Percentile 1-hr', 'SO2 2nd Max 24-hr', 'SO2 Mean 1-hr',
       'PM2.5 98th Percentile 24-hr', 'PM2.5 Weighted Mean 24-hr',
       'PM10 2nd Max 24-hr', 'PM10 Mean 24-hr', 'Lead Max 3-Mo Avg'],
      dtype='object')

In [10]:
air_qual_1999[numeric_cols] = air_qual_1999[numeric_cols].replace('.', np.nan)

In [12]:
air_qual_1999.head()

,CBSA Code,CBSA,CO 2nd Max 1-hr,CO 2nd Max 8-hr,NO2 98th Percentile 1-hr,NO2 Mean 1-hr,Ozone 2nd Max 1-hr,Ozone 4th Max 8-hr,SO2 99th Percentile 1-hr,SO2 2nd Max 24-hr,SO2 Mean 1-hr,PM2.5 98th Percentile 24-hr,PM2.5 Weighted Mean 24-hr,PM10 2nd Max 24-hr,PM10 Mean 24-hr,Lead Max 3-Mo Avg
0,10300,"Adrian, MI",NaN,NaN,NaN,NaN,0.09,0.083,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10420,"Akron, OH",4.7,3.1,NaN,NaN,0.12,0.098,158,65,11,42,18,68,22,NaN
2,10500,"Albany, GA",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60,26,NaN
3,10580,"Albany-Schenectady-Troy, NY",6.4,4.2,NaN,NaN,0.11,0.092,37,16,3,NaN,NaN,NaN,NaN,NaN
4,10740,"Albuquerque, NM",7.5,4.6,54,16,0.1,0.076,NaN,NaN,NaN,NaN,NaN,93,39,NaN

In [13]:
air_qual_1999.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 456 entries, 0 to 455
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   CBSA Code                    456 non-null    int64
 1   CBSA                         456 non-null    object
 2   CO 2nd Max 1-hr              180 non-null    object
 3   CO 2nd Max 8-hr              180 non-null    object
 4   NO2 98th Percentile 1-hr     112 non-null    object
 5   NO2 Mean 1-hr                123 non-null    object
 6   Ozone 2nd Max 1-hr           329 non-null    object
 7   Ozone 4th Max 8-hr           329 non-null    object
 8   SO2 99th Percentile 1-hr     184 non-null    object
 9   SO2 2nd Max 24-hr            184 non-null    object
 10  SO2 Mean 1-hr                184 non-null    object
 11  PM2.5 98th Percentile 24-hr  145 non-null    object
 12  PM2.5 Weighted Mean 24-hr    145 non-null    object
 13  PM10 2nd Max 24-hr           263 non-null    object
 14  PM10 Mean 24-hr              263 non-null    object
 15  Lead Max 3-Mo Avg            0 non-null      float64
dtypes: float64(1), int64(1), object(14)
memory usage: 57.1+ KB

In [14]:
for col in numeric_cols:
    air_qual_1999[col] = pd.to_numeric(air_qual_1999[col])

In [15]:
air_qual_1999.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 456 entries, 0 to 455
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   CBSA Code                    456 non-null    int64
 1   CBSA                         456 non-null    object
 2   CO 2nd Max 1-hr              180 non-null    float64
 3   CO 2nd Max 8-hr              180 non-null    float64
 4   NO2 98th Percentile 1-hr     112 non-null    float64
 5   NO2 Mean 1-hr                123 non-null    float64
 6   Ozone 2nd Max 1-hr           329 non-null    float64
 7   Ozone 4th Max 8-hr           329 non-null    float64
 8   SO2 99th Percentile 1-hr     184 non-null    float64
 9   SO2 2nd Max 24-hr            184 non-null    float64
 10  SO2 Mean 1-hr                184 non-null    float64
 11  PM2.5 98th Percentile 24-hr  145 non-null    float64
 12  PM2.5 Weighted Mean 24-hr    145 non-null    float64
 13  PM10 2nd Max 24-hr           263 non-null    float64
 14  PM10 Mean 24-hr              263 non-null    float64
 15  Lead Max 3-Mo Avg            0 non-null      float64
dtypes: float64(14), int64(1), object(1)
memory usage: 57.1+ KB

In [16]:
# rename two locations manually for consistency with inf_mor dataframe
air_qual_1999['CBSA'] = air_qual_1999['CBSA'].str.replace('Washington-Arlington-Alexandria, DC-VA-MD-WV', 'District of Columbia')
air_qual_1999['CBSA'] = air_qual_1999['CBSA'].str.replace('New York-Newark-Jersey City, NY-NJ-PA', 'New York City')

In [17]:
# try to make 'CBSA' column match format of Locations in inf_mor dataframe
air_qual_1999['CBSA'] = air_qual_1999['CBSA'].str.split(',', expand=True)

In [18]:
air_qual_1999['CBSA'] = air_qual_1999['CBSA'].str.split('/', expand=True)

In [19]:
air_qual_1999['CBSA'] = air_qual_1999['CBSA'].str.split('-', expand=True)

In [20]:
air_qual_1999.head()

,CBSA Code,CBSA,CO 2nd Max 1-hr,CO 2nd Max 8-hr,NO2 98th Percentile 1-hr,NO2 Mean 1-hr,Ozone 2nd Max 1-hr,Ozone 4th Max 8-hr,SO2 99th Percentile 1-hr,SO2 2nd Max 24-hr,SO2 Mean 1-hr,PM2.5 98th Percentile 24-hr,PM2.5 Weighted Mean 24-hr,PM10 2nd Max 24-hr,PM10 Mean 24-hr,Lead Max 3-Mo Avg
0,10300,Adrian,NaN,NaN,NaN,NaN,0.09,0.083,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10420,Akron,4.7,3.1,NaN,NaN,0.12,0.098,158.0,65.0,11.0,42.0,18.0,68.0,22.0,NaN
2,10500,Albany,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.0,26.0,NaN
3,10580,Albany,6.4,4.2,NaN,NaN,0.11,0.092,37.0,16.0,3.0,NaN,NaN,NaN,NaN,NaN
4,10740,Albuquerque,7.5,4.6,54.0,16.0,0.10,0.076,NaN,NaN,NaN,NaN,NaN,93.0,39.0,NaN

In [22]:
# import infant mortality dataframe 
inf_mor = pd.read_csv('../data/infant_mortality.csv')

In [23]:
# list of cities included in inf_mor dataframe
inf_mor_cities = inf_mor['Location'].unique()
inf_mor_cities

array(['Albuquerque', 'Atlanta', 'Austin', 'Baltimore', 'Boston',
       'Charlotte', 'Chicago', 'Cleveland', 'Colorado Springs',
       'Columbus', 'Dallas', 'Denver', 'Detroit', 'District of Columbia',
       'El Paso', 'Fort Worth', 'Fresno', 'Houston', 'Indianapolis',
       'Jacksonville', 'Kansas City', 'Las Vegas', 'Long Beach',
       'Los Angeles', 'Louisville', 'Memphis', 'Mesa', 'Miami',
       'Milwaukee', 'Minneapolis', 'Nashville', 'New York City',
       'Oakland', 'Oklahoma City', 'Omaha', 'Philadelphia', 'Phoenix',
       'Portland', 'Sacramento', 'San Antonio', 'San Diego',
       'San Francisco', 'San Jose', 'San Juan', 'Seattle', 'Tucson',
       'Tulsa', 'Virginia Beach', 'Wichita'], dtype=object)

In [25]:
# check for cities to drop from inf_mor dataframe (no corresponding air_quality data)
cities_to_drop = [city for city in inf_mor_cities if city not in air_qual_1999['CBSA'].unique()]
cities_to_drop

['Fort Worth', 'Long Beach', 'Mesa', 'Oakland']

In [26]:
# drop these rows from inf_mor data and rewrite
inf_mor = inf_mor.loc[~(inf_mor['Location'].isin(cities_to_drop))]
inf_mor.info() #now showing correct number of entries

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45 entries, 0 to 48
Data columns (total 22 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Location   45 non-null     object
 1   data_type  45 non-null     object
 2   1999       44 non-null     float64
 3   2000       44 non-null     float64
 4   2001       44 non-null     float64
 5   2002       44 non-null     float64
 6   2003       44 non-null     float64
 7   2004       43 non-null     float64
 8   2005       44 non-null     float64
 9   2006       44 non-null     float64
 10  2007       1 non-null      float64
 11  2008       1 non-null      float64
 12  2009       45 non-null     float64
 13  2010       45 non-null     float64
 14  2011       44 non-null     float64
 15  2012       45 non-null     float64
 16  2013       45 non-null     float64
 17  2014       45 non-null     float64
 18  2015       45 non-null     float64
 19  2016       44 non-null     float64
 20  2017       45 non-null     float64
 21  2018       44 non-null     float64
dtypes: float64(20), object(2)
memory usage: 8.1+ KB

In [27]:
inf_mor.to_csv('../data/infant_mortality.csv')

In [30]:
cities = inf_mor['Location'].unique()
cities

array(['Albuquerque', 'Atlanta', 'Austin', 'Baltimore', 'Boston',
       'Charlotte', 'Chicago', 'Cleveland', 'Colorado Springs',
       'Columbus', 'Dallas', 'Denver', 'Detroit', 'District of Columbia',
       'El Paso', 'Fresno', 'Houston', 'Indianapolis', 'Jacksonville',
       'Kansas City', 'Las Vegas', 'Los Angeles', 'Louisville', 'Memphis',
       'Miami', 'Milwaukee', 'Minneapolis', 'Nashville', 'New York City',
       'Oklahoma City', 'Omaha', 'Philadelphia', 'Phoenix', 'Portland',
       'Sacramento', 'San Antonio', 'San Diego', 'San Francisco',
       'San Jose', 'San Juan', 'Seattle', 'Tucson', 'Tulsa',
       'Virginia Beach', 'Wichita'], dtype=object)

In [31]:
air_qual_1999 = air_qual_1999.loc[air_qual_1999['CBSA'].isin(cities)]
air_qual_1999

,CBSA Code,CBSA,CO 2nd Max 1-hr,CO 2nd Max 8-hr,NO2 98th Percentile 1-hr,NO2 Mean 1-hr,Ozone 2nd Max 1-hr,Ozone 4th Max 8-hr,SO2 99th Percentile 1-hr,SO2 2nd Max 24-hr,SO2 Mean 1-hr,PM2.5 98th Percentile 24-hr,PM2.5 Weighted Mean 24-hr,PM10 2nd Max 24-hr,PM10 Mean 24-hr,Lead Max 3-Mo Avg
4,10740,Albuquerque,7.5,4.6,54.0,16.0,0.10,0.076,NaN,NaN,NaN,NaN,NaN,93.0,39.0,NaN
19,12060,Atlanta,6.3,4.1,87.0,24.0,0.16,0.124,90.0,23.0,5.0,48.0,23.0,72.0,35.0,NaN
23,12420,Austin,2.1,1.2,NaN,6.0,0.11,0.099,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,12580,Baltimore,10.2,5.6,70.0,24.0,0.15,0.113,79.0,20.0,6.0,NaN,NaN,61.0,32.0,NaN
46,14460,Boston,8.4,4.2,77.0,30.0,0.12,0.093,93.0,40.0,8.0,47.0,15.3,65.0,30.0,NaN
75,16740,Charlotte,7.1,4.3,NaN,18.0,0.13,0.107,NaN,NaN,NaN,38.0,17.6,60.0,30.0,NaN
78,16980,Chicago,6.4,4.9,83.0,32.0,0.13,0.102,138.0,44.0,9.0,54.0,21.8,165.0,40.0,NaN
85,17420,Cleveland,NaN,NaN,54.0,15.0,NaN,NaN,115.0,34.0,8.0,NaN,NaN,51.0,27.0,NaN
86,17460,Cleveland,6.8,3.9,68.0,25.0,0.12,0.103,201.0,62.0,11.0,38.0,15.3,106.0,42.0,NaN
90,17820,Colorado Springs,12.6,5.2,88.0,19.0,0.08,0.065,56.0,20.0,4.0,NaN,NaN,79.0,22.0,NaN
92,17980,Columbus,NaN,NaN,NaN,NaN,0.11,0.097,37.0,10.0,2.0,NaN,NaN,45.0,24.0,NaN
93,18140,Columbus,8.5,2.5,NaN,NaN,0.14,0.103,44.0,15.0,4.0,40.0,17.7,76.0,27.0,NaN
100,19100,Dallas,4.8,3.2,76.0,21.0,0.15,0.112,149.0,33.0,4.0,NaN,NaN,57.0,32.0,NaN
107,19740,Denver,12.1,5.2,78.0,19.0,0.11,0.081,81.0,12.0,3.0,NaN,NaN,141.0,36.0,NaN
110,19820,Detroit,6.0,4.4,NaN,18.0,0.12,0.096,172.0,53.0,9.0,44.0,13.2,96.0,36.0,NaN
130,21340,El Paso,14.4,8.2,74.0,28.0,0.11,0.073,56.0,16.0,2.0,NaN,NaN,209.0,66.0,NaN
150,23420,Fresno,10.0,7.6,93.0,24.0,0.15,0.105,NaN,NaN,NaN,97.0,23.4,127.0,46.0,NaN
187,26420,Houston,6.3,4.1,74.0,24.0,0.20,0.124,99.0,40.0,7.0,NaN,NaN,116.0,44.0,NaN
191,26900,Indianapolis,4.8,2.6,NaN,18.0,0.11,0.096,115.0,24.0,7.0,NaN,NaN,53.0,27.0,NaN
197,27260,Jacksonville,6.3,4.1,53.0,16.0,0.10,0.080,126.0,36.0,4.0,NaN,NaN,58.0,28.0,NaN
198,27340,Jacksonville,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.0,12.7,NaN,NaN,NaN
208,28140,Kansas City,9.5,4.7,62.0,15.0,0.12,0.084,29.0,11.0,2.0,30.0,14.1,118.0,40.0,NaN
227,29820,Las Vegas,10.2,8.2,85.0,27.0,0.10,0.084,14.0,7.0,1.0,26.0,10.3,281.0,56.0,NaN
240,31080,Los Angeles,16.0,11.1,139.0,51.0,0.14,0.095,48.0,19.0,4.0,53.0,24.3,119.0,56.0,NaN
241,31140,Louisville,9.1,4.8,57.0,14.0,0.12,0.103,149.0,32.0,7.0,40.0,17.5,60.0,29.0,NaN
256,32820,Memphis,7.6,5.2,72.0,25.0,0.13,0.104,81.0,28.0,6.0,35.0,15.9,64.0,27.0,NaN
259,33100,Miami,7.9,5.4,67.0,17.0,0.11,0.079,79.0,15.0,3.0,25.0,9.3,44.0,24.0,NaN
262,33340,Milwaukee,3.5,2.2,67.0,22.0,0.12,0.097,95.0,24.0,4.0,40.0,15.0,60.0,27.0,NaN
263,33460,Minneapolis,7.6,5.2,63.0,22.0,0.10,0.078,38.0,17.0,2.0,NaN,NaN,88.0,35.0,NaN
283,34980,Nashville,7.6,5.4,97.0,18.0,0.12,0.101,182.0,35.0,5.0,51.0,18.8,74.0,32.0,NaN
289,35620,New York City,10.0,6.6,100.0,42.0,0.15,0.110,79.0,45.0,13.0,39.0,13.7,73.0,35.0,NaN
296,36420,Oklahoma City,6.5,4.3,63.0,14.0,0.10,0.084,12.0,9.0,3.0,NaN,NaN,NaN,NaN,NaN
298,36540,Omaha,12.4,8.8,NaN,NaN,0.09,0.080,NaN,NaN,NaN,NaN,NaN,102.0,43.0,NaN
312,37980,Philadelphia,7.4,4.9,68.0,32.0,0.15,0.112,170.0,49.0,10.0,35.0,14.3,51.0,22.0,NaN
313,38060,Phoenix,13.5,8.1,172.0,40.0,0.12,0.091,NaN,NaN,NaN,30.0,12.2,115.0,59.0,NaN
322,38860,Portland,NaN,NaN,NaN,NaN,0.12,0.089,NaN,NaN,NaN,NaN,NaN,43.0,21.0,NaN
323,38900,Portland,12.9,6.7,NaN,NaN,0.09,0.072,NaN,NaN,NaN,35.0,8.8,62.0,22.0,NaN
352,40900,Sacramento,7.3,6.2,81.0,21.0,0.14,0.106,18.0,12.0,4.0,40.0,13.4,144.0,34.0,NaN
361,41700,San Antonio,6.3,4.2,NaN,25.0,0.11,0.091,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
362,41740,San Diego,9.2,4.9,100.0,26.0,0.11,0.092,63.0,16.0,3.0,38.0,16.4,112.0,52.0,NaN
364,41860,San Francisco,7.8,4.5,72.0,22.0,0.14,0.093,56.0,20.0,3.0,NaN,NaN,94.0,26.0,NaN
365,41940,San Jose,8.8,6.2,93.0,26.0,0.12,0.082,NaN,NaN,NaN,60.0,16.3,93.0,28.0,NaN
366,41980,San Juan,12.8,9.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,133.0,50.0,NaN
375,42660,Seattle,15.6,6.6,56.0,19.0,0.09,0.072,NaN,NaN,NaN,46.0,11.5,50.0,25.0,NaN
411,46060,Tucson,7.8,3.8,59.0,19.0,0.09,0.073,12.0,5.0,2.0,20.0,8.8,80.0,43.0,NaN
412,46140,Tulsa,5.6,3.5,62.0,17.0,0.12,0.091,169.0,83.0,11.0,NaN,NaN,NaN,NaN,NaN
425,47260,Virginia Beach,9.2,4.6,60.0,17.0,0.14,0.097,92.0,22.0,7.0,NaN,NaN,50.0,19.0,NaN
433,47900,District of Columbia,7.5,5.6,74.0,25.0,0.14,0.107,150.0,26.0,9.0,NaN,NaN,57.0,23.0,NaN
442,48620,Wichita,8.6,4.6,NaN,NaN,0.10,0.079,NaN,NaN,NaN,28.0,11.9,85.0,30.0,NaN

In [32]:
# investigate duplicates manually
cbsa_codes_to_drop = [17420, 17980, 27340, 38860]
air_qual_1999 = air_qual_1999.loc[~(air_qual_1999['CBSA Code'].isin(cbsa_codes_to_drop))]
air_qual_1999

,CBSA Code,CBSA,CO 2nd Max 1-hr,CO 2nd Max 8-hr,NO2 98th Percentile 1-hr,NO2 Mean 1-hr,Ozone 2nd Max 1-hr,Ozone 4th Max 8-hr,SO2 99th Percentile 1-hr,SO2 2nd Max 24-hr,SO2 Mean 1-hr,PM2.5 98th Percentile 24-hr,PM2.5 Weighted Mean 24-hr,PM10 2nd Max 24-hr,PM10 Mean 24-hr,Lead Max 3-Mo Avg
4,10740,Albuquerque,7.5,4.6,54.0,16.0,0.10,0.076,NaN,NaN,NaN,NaN,NaN,93.0,39.0,NaN
19,12060,Atlanta,6.3,4.1,87.0,24.0,0.16,0.124,90.0,23.0,5.0,48.0,23.0,72.0,35.0,NaN
23,12420,Austin,2.1,1.2,NaN,6.0,0.11,0.099,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,12580,Baltimore,10.2,5.6,70.0,24.0,0.15,0.113,79.0,20.0,6.0,NaN,NaN,61.0,32.0,NaN
46,14460,Boston,8.4,4.2,77.0,30.0,0.12,0.093,93.0,40.0,8.0,47.0,15.3,65.0,30.0,NaN
75,16740,Charlotte,7.1,4.3,NaN,18.0,0.13,0.107,NaN,NaN,NaN,38.0,17.6,60.0,30.0,NaN
78,16980,Chicago,6.4,4.9,83.0,32.0,0.13,0.102,138.0,44.0,9.0,54.0,21.8,165.0,40.0,NaN
86,17460,Cleveland,6.8,3.9,68.0,25.0,0.12,0.103,201.0,62.0,11.0,38.0,15.3,106.0,42.0,NaN
90,17820,Colorado Springs,12.6,5.2,88.0,19.0,0.08,0.065,56.0,20.0,4.0,NaN,NaN,79.0,22.0,NaN
93,18140,Columbus,8.5,2.5,NaN,NaN,0.14,0.103,44.0,15.0,4.0,40.0,17.7,76.0,27.0,NaN
100,19100,Dallas,4.8,3.2,76.0,21.0,0.15,0.112,149.0,33.0,4.0,NaN,NaN,57.0,32.0,NaN
107,19740,Denver,12.1,5.2,78.0,19.0,0.11,0.081,81.0,12.0,3.0,NaN,NaN,141.0,36.0,NaN
110,19820,Detroit,6.0,4.4,NaN,18.0,0.12,0.096,172.0,53.0,9.0,44.0,13.2,96.0,36.0,NaN
130,21340,El Paso,14.4,8.2,74.0,28.0,0.11,0.073,56.0,16.0,2.0,NaN,NaN,209.0,66.0,NaN
150,23420,Fresno,10.0,7.6,93.0,24.0,0.15,0.105,NaN,NaN,NaN,97.0,23.4,127.0,46.0,NaN
187,26420,Houston,6.3,4.1,74.0,24.0,0.20,0.124,99.0,40.0,7.0,NaN,NaN,116.0,44.0,NaN
191,26900,Indianapolis,4.8,2.6,NaN,18.0,0.11,0.096,115.0,24.0,7.0,NaN,NaN,53.0,27.0,NaN
197,27260,Jacksonville,6.3,4.1,53.0,16.0,0.10,0.080,126.0,36.0,4.0,NaN,NaN,58.0,28.0,NaN
208,28140,Kansas City,9.5,4.7,62.0,15.0,0.12,0.084,29.0,11.0,2.0,30.0,14.1,118.0,40.0,NaN
227,29820,Las Vegas,10.2,8.2,85.0,27.0,0.10,0.084,14.0,7.0,1.0,26.0,10.3,281.0,56.0,NaN
240,31080,Los Angeles,16.0,11.1,139.0,51.0,0.14,0.095,48.0,19.0,4.0,53.0,24.3,119.0,56.0,NaN
241,31140,Louisville,9.1,4.8,57.0,14.0,0.12,0.103,149.0,32.0,7.0,40.0,17.5,60.0,29.0,NaN
256,32820,Memphis,7.6,5.2,72.0,25.0,0.13,0.104,81.0,28.0,6.0,35.0,15.9,64.0,27.0,NaN
259,33100,Miami,7.9,5.4,67.0,17.0,0.11,0.079,79.0,15.0,3.0,25.0,9.3,44.0,24.0,NaN
262,33340,Milwaukee,3.5,2.2,67.0,22.0,0.12,0.097,95.0,24.0,4.0,40.0,15.0,60.0,27.0,NaN
263,33460,Minneapolis,7.6,5.2,63.0,22.0,0.10,0.078,38.0,17.0,2.0,NaN,NaN,88.0,35.0,NaN
283,34980,Nashville,7.6,5.4,97.0,18.0,0.12,0.101,182.0,35.0,5.0,51.0,18.8,74.0,32.0,NaN
289,35620,New York City,10.0,6.6,100.0,42.0,0.15,0.110,79.0,45.0,13.0,39.0,13.7,73.0,35.0,NaN
296,36420,Oklahoma City,6.5,4.3,63.0,14.0,0.10,0.084,12.0,9.0,3.0,NaN,NaN,NaN,NaN,NaN
298,36540,Omaha,12.4,8.8,NaN,NaN,0.09,0.080,NaN,NaN,NaN,NaN,NaN,102.0,43.0,NaN
312,37980,Philadelphia,7.4,4.9,68.0,32.0,0.15,0.112,170.0,49.0,10.0,35.0,14.3,51.0,22.0,NaN
313,38060,Phoenix,13.5,8.1,172.0,40.0,0.12,0.091,NaN,NaN,NaN,30.0,12.2,115.0,59.0,NaN
323,38900,Portland,12.9,6.7,NaN,NaN,0.09,0.072,NaN,NaN,NaN,35.0,8.8,62.0,22.0,NaN
352,40900,Sacramento,7.3,6.2,81.0,21.0,0.14,0.106,18.0,12.0,4.0,40.0,13.4,144.0,34.0,NaN
361,41700,San Antonio,6.3,4.2,NaN,25.0,0.11,0.091,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
362,41740,San Diego,9.2,4.9,100.0,26.0,0.11,0.092,63.0,16.0,3.0,38.0,16.4,112.0,52.0,NaN
364,41860,San Francisco,7.8,4.5,72.0,22.0,0.14,0.093,56.0,20.0,3.0,NaN,NaN,94.0,26.0,NaN
365,41940,San Jose,8.8,6.2,93.0,26.0,0.12,0.082,NaN,NaN,NaN,60.0,16.3,93.0,28.0,NaN
366,41980,San Juan,12.8,9.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,133.0,50.0,NaN
375,42660,Seattle,15.6,6.6,56.0,19.0,0.09,0.072,NaN,NaN,NaN,46.0,11.5,50.0,25.0,NaN
411,46060,Tucson,7.8,3.8,59.0,19.0,0.09,0.073,12.0,5.0,2.0,20.0,8.8,80.0,43.0,NaN
412,46140,Tulsa,5.6,3.5,62.0,17.0,0.12,0.091,169.0,83.0,11.0,NaN,NaN,NaN,NaN,NaN
425,47260,Virginia Beach,9.2,4.6,60.0,17.0,0.14,0.097,92.0,22.0,7.0,NaN,NaN,50.0,19.0,NaN
433,47900,District of Columbia,7.5,5.6,74.0,25.0,0.14,0.107,150.0,26.0,9.0,NaN,NaN,57.0,23.0,NaN
442,48620,Wichita,8.6,4.6,NaN,NaN,0.10,0.079,NaN,NaN,NaN,28.0,11.9,85.0,30.0,NaN

In [33]:
air_qual_1999.info() #dataframe lengths now match

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45 entries, 4 to 442
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   CBSA Code                    45 non-null     int64
 1   CBSA                         45 non-null     object
 2   CO 2nd Max 1-hr              45 non-null     float64
 3   CO 2nd Max 8-hr              45 non-null     float64
 4   NO2 98th Percentile 1-hr     35 non-null     float64
 5   NO2 Mean 1-hr                40 non-null     float64
 6   Ozone 2nd Max 1-hr           44 non-null     float64
 7   Ozone 4th Max 8-hr           44 non-null     float64
 8   SO2 99th Percentile 1-hr     33 non-null     float64
 9   SO2 2nd Max 24-hr            33 non-null     float64
 10  SO2 Mean 1-hr                33 non-null     float64
 11  PM2.5 98th Percentile 24-hr  26 non-null     float64
 12  PM2.5 Weighted Mean 24-hr    26 non-null     float64
 13  PM10 2nd Max 24-hr           41 non-null     float64
 14  PM10 Mean 24-hr              41 non-null     float64
 15  Lead Max 3-Mo Avg            0 non-null      float64
dtypes: float64(14), int64(1), object(1)
memory usage: 6.0+ KB

In [34]:
air_qual_1999.to_csv('../data/cleaned/air_1999.csv')