In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
national_data = pd.read_csv('../data/cleaned/transposed_national_air_data.csv', index_col='Unnamed: 0')

In [5]:
national_data

,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
CO 2nd Max 1-hr,8.640000,7.615556,7.517778,6.753333,6.282222,5.268889,5.515556,4.746667,3.862222,3.852273,3.804545,3.554545,3.379070,3.357143,3.509302,2.933333,2.750000,2.945238,2.863636,3.068182
CO 2nd Max 8-hr,5.246667,4.771111,4.386667,3.915556,3.648889,3.275556,3.060000,2.891111,2.504444,2.363636,2.209091,2.068182,2.004651,2.074419,1.953488,1.853488,1.742857,1.765909,1.734091,1.909091
NO2 98th Percentile 1-hr,78.400000,76.175000,69.918919,67.000000,65.060606,61.868421,61.583333,60.594595,60.142857,58.384615,52.055556,54.289474,53.236842,54.294118,50.361111,51.236842,50.317073,48.975610,49.000000,49.756098
NO2 Mean 1-hr,22.950000,21.780488,21.525000,20.410256,19.076923,17.926829,18.945946,17.842105,16.868421,15.589744,14.205128,14.473684,14.000000,14.157895,13.131579,13.341463,14.547619,14.976190,14.571429,14.214286
Ozone 2nd Max 1-hr,0.121591,0.114000,0.115111,0.122500,0.117273,0.101136,0.113556,0.110444,0.104444,0.105333,0.097556,0.100222,0.101333,0.103778,0.090667,0.090000,0.092444,0.094667,0.094545,0.095000
Ozone 4th Max 8-hr,0.093386,0.087822,0.088022,0.095136,0.090000,0.080364,0.085511,0.085422,0.082244,0.079867,0.075111,0.077711,0.079667,0.081267,0.072378,0.071267,0.072911,0.073444,0.074750,0.075409
SO2 99th Percentile 1-hr,91.969697,83.676471,71.472222,72.297297,68.257143,68.315789,71.972973,66.078947,59.916667,51.368421,45.567568,42.552632,35.628571,37.432432,30.190476,27.928571,22.833333,22.195122,14.575000,14.256410
SO2 2nd Max 24-hr,27.666667,27.852941,22.194444,21.729730,22.657143,21.368421,23.405405,19.894737,17.611111,15.421053,15.567568,13.289474,10.571429,11.540541,8.976190,8.285714,7.523810,8.000000,5.317073,4.230769
SO2 Mean 1-hr,5.515152,5.176471,4.361111,4.270270,3.885714,3.921053,4.162162,3.684211,3.432432,2.973684,2.594595,2.263158,2.028571,1.815789,1.476190,1.238095,1.166667,1.000000,0.750000,0.725000
PM2.5 98th Percentile 24-hr,41.423077,37.775000,39.690476,38.422222,36.047619,34.785714,37.209302,32.568182,36.818182,31.511628,29.372093,26.395349,29.904762,25.829268,26.727273,26.093023,27.272727,25.302326,26.238095,31.568182
PM2.5 Weighted Mean 24-hr,15.376923,14.465000,14.500000,13.624444,13.530952,13.050000,13.681395,12.777273,12.990909,11.995349,10.920930,10.774419,11.109524,10.490244,10.459091,10.165116,9.727273,9.162791,9.795238,10.120455
PM10 2nd Max 24-hr,93.731707,86.568182,88.488889,105.363636,103.418605,88.000000,85.888889,112.627907,123.711111,88.906977,84.545455,74.232558,111.022727,86.465116,82.348837,81.777778,91.837209,85.738095,82.900000,100.900000
PM10 Mean 24-hr,35.341463,34.136364,32.711111,31.795455,32.395349,30.288889,32.644444,36.046512,33.888889,31.279070,27.295455,27.069767,28.590909,27.441860,25.348837,25.755556,24.511628,25.738095,25.550000,25.150000
Lead Max 3-Mo Avg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.137500,0.146875,0.192500,0.051538,0.031818,0.028000,0.033667,0.026800,0.029444,0.038000
Infant Mortality Mean,8.370455,7.895455,7.547727,7.970455,7.547727,7.851163,7.888636,7.781818,13.100000,10.800000,7.529111,6.695556,6.861364,6.913333,6.884444,6.500000,6.722222,6.790909,6.631111,6.411364

In [9]:
corr_series = national_data.corrwith(national_data.loc['Infant Mortality Mean'], axis=1)

In [10]:
corr_series

CO 2nd Max 1-hr                0.186229
CO 2nd Max 8-hr                0.220706
NO2 98th Percentile 1-hr       0.339815
NO2 Mean 1-hr                  0.278111
Ozone 2nd Max 1-hr             0.318726
Ozone 4th Max 8-hr             0.311075
SO2 99th Percentile 1-hr       0.429036
SO2 2nd Max 24-hr              0.388172
SO2 Mean 1-hr                  0.429874
PM2.5 98th Percentile 24-hr    0.461798
PM2.5 Weighted Mean 24-hr      0.435842
PM10 2nd Max 24-hr             0.512517
PM10 Mean 24-hr                0.571736
Lead Max 3-Mo Avg              0.458800
Infant Mortality Mean          1.000000
dtype: float64

In [11]:
nyc_data = pd.read_csv('../data/cleaned/transposed_nyc.csv', index_col='Unnamed: 0')
nyc_data

,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
CO 2nd Max 1-hr,10.00,8.500,8.600,6.400,11.200,5.400,4.800,5.400,3.100,3.400,4.200,5.700,4.000,3.200,3.100,3.100,2.700,5.200,2.300,4.800
CO 2nd Max 8-hr,6.60,4.800,4.800,4.400,3.300,3.300,3.400,2.900,2.400,2.100,2.100,2.200,2.800,2.500,1.900,2.500,1.900,2.500,1.600,2.700
NO2 98th Percentile 1-hr,100.00,106.000,100.000,97.000,84.000,81.000,83.000,86.000,79.000,77.000,72.000,71.000,71.000,67.000,62.000,70.000,68.000,60.000,67.000,68.000
NO2 Mean 1-hr,42.00,41.000,40.000,40.000,32.000,30.000,36.000,34.000,34.000,26.000,26.000,22.000,25.000,22.000,22.000,22.000,22.000,20.000,20.000,19.000
Ozone 2nd Max 1-hr,0.15,0.140,0.140,0.150,0.140,0.110,0.140,0.150,0.130,0.130,0.100,0.120,0.120,0.120,0.120,0.110,0.100,0.100,0.110,0.110
Ozone 4th Max 8-hr,0.11,0.114,0.108,0.125,0.102,0.088,0.101,0.101,0.094,0.087,0.081,0.087,0.089,0.085,0.078,0.074,0.079,0.078,0.079,0.079
SO2 99th Percentile 1-hr,79.00,86.000,71.000,67.000,74.000,69.000,72.000,70.000,62.000,62.000,61.000,50.000,41.000,32.000,22.000,15.000,15.000,7.000,7.000,8.000
SO2 2nd Max 24-hr,45.00,46.000,46.000,39.000,51.000,35.000,39.000,34.000,36.000,26.000,26.000,24.000,20.000,12.000,10.000,10.000,7.000,4.000,4.000,4.000
SO2 Mean 1-hr,13.00,13.000,12.000,12.000,11.000,10.000,11.000,10.000,10.000,7.000,6.000,5.000,5.000,3.000,2.000,2.000,2.000,1.000,1.000,1.000
PM2.5 98th Percentile 24-hr,39.00,44.000,42.000,48.000,47.000,45.000,43.000,42.000,39.000,34.000,33.000,28.000,33.000,26.000,31.000,31.000,29.000,21.000,23.000,27.000
PM2.5 Weighted Mean 24-hr,13.70,18.500,18.000,16.700,17.000,15.600,17.000,14.800,16.100,13.500,12.700,11.500,12.200,11.700,10.900,10.500,11.400,10.100,10.300,11.100
PM10 2nd Max 24-hr,73.00,108.000,71.000,60.000,75.000,54.000,66.000,NaN,59.000,74.000,78.000,NaN,63.000,73.000,43.000,47.000,44.000,45.000,32.000,38.000
PM10 Mean 24-hr,35.00,36.000,32.000,25.000,36.000,27.000,30.000,NaN,33.000,29.000,28.000,NaN,30.000,30.000,19.000,17.000,20.000,17.000,16.000,16.000
Lead Max 3-Mo Avg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.080,0.040,1.030,0.060,0.110,0.020,0.030,0.030,0.010,0.000
Infant Mortality,6.70,6.400,5.600,5.900,6.200,6.100,5.600,5.700,NaN,NaN,5.000,4.600,4.500,4.600,4.200,4.000,4.100,3.800,4.200,3.500

In [13]:
nyc_corr = nyc_data.corrwith(nyc_data.loc['Infant Mortality'], axis=1)
nyc_corr

CO 2nd Max 1-hr                0.763461
CO 2nd Max 8-hr                0.776238
NO2 98th Percentile 1-hr       0.876014
NO2 Mean 1-hr                  0.909445
Ozone 2nd Max 1-hr             0.767446
Ozone 4th Max 8-hr             0.838837
SO2 99th Percentile 1-hr       0.948044
SO2 2nd Max 24-hr              0.947656
SO2 Mean 1-hr                  0.962935
PM2.5 98th Percentile 24-hr    0.876073
PM2.5 Weighted Mean 24-hr      0.850385
PM10 2nd Max 24-hr             0.725120
PM10 Mean 24-hr                0.849014
Lead Max 3-Mo Avg              0.261367
Infant Mortality               1.000000
dtype: float64

In [35]:
asthma_nyc = pd.read_csv('../data/asthma_hospitalizations_nyc.csv')
asthma_nyc

,Location,Age Group,TimeFrame,DataFormat,Data,Fips
0,New York City,0 to 4 years,2000,Rate,106.2,3651000
1,New York City,0 to 4 years,2000,Number,5727.0,3651000
2,New York City,0 to 4 years,2001,Rate,112.5,3651000
3,New York City,0 to 4 years,2001,Number,6024.0,3651000
4,New York City,0 to 4 years,2003,Rate,124.1,3651000
...,...,...,...,...,...,...
3258,South Beach - Tottenville,0 to 4 years,2001,Rate,25.7,uhf504
3259,South Beach - Tottenville,0 to 4 years,2003,Number,36.0,uhf504
3260,South Beach - Tottenville,0 to 4 years,2003,Rate,32.7,uhf504
3261,South Beach - Tottenville,0 to 4 years,2000,Number,39.0,uhf504
3262,South Beach - Tottenville,0 to 4 years,2000,Rate,33.5,uhf504

In [40]:
asthma_nyc = asthma_nyc.loc[asthma_nyc['Location'] == 'New York City']
asthma_nyc.loc[asthma_nyc['DataFormat'] == 'Rate']

         Location      Age Group  TimeFrame DataFormat   Data     Fips
0   New York City   0 to 4 years       2000       Rate  106.2  3651000
2   New York City   0 to 4 years       2001       Rate  112.5  3651000
4   New York City   0 to 4 years       2003       Rate  124.1  3651000
6   New York City   0 to 4 years       2004       Rate  109.5  3651000
8   New York City   0 to 4 years       2005       Rate   95.1  3651000
11  New York City  5 to 17 Years       2005       Rate   35.9  3651000
12  New York City   0 to 4 years       2006       Rate   99.3  3651000
15  New York City  5 to 17 Years       2006       Rate   35.4  3651000
16  New York City   0 to 4 years       2007       Rate   89.8  3651000
19  New York City  5 to 17 Years       2007       Rate   33.1  3651000
20  New York City   0 to 4 years       2008       Rate   92.3  3651000
23  New York City  5 to 17 Years       2008       Rate   31.1  3651000
24  New York City   0 to 4 years       2009       Rate   96.5  3651000
27  New York City  5 to 17 Years       2009       Rate   33.2  3651000
28  New York City   0 to 4 years       2010       Rate   82.6  3651000
31  New York City  5 to 17 Years       2010       Rate   28.3  3651000
32  New York City   0 to 4 years       2011       Rate   76.1  3651000
35  New York City  5 to 17 Years       2011       Rate   29.5  3651000
36  New York City   0 to 4 years       2012       Rate   75.6  3651000
39  New York City  5 to 17 Years       2012       Rate   32.0  3651000
40  New York City   0 to 4 years       2013       Rate   69.4  3651000
43  New York City  5 to 17 Years       2013       Rate   31.5  3651000
44  New York City   0 to 4 years       2014       Rate   69.1  3651000
47  New York City  5 to 17 Years       2014       Rate   33.5  3651000
48  New York City   0 to 4 years       2015       Rate   62.6  3651000
51  New York City  5 to 17 Years       2015       Rate   28.9  3651000
52  New York City   0 to 4 years       2016       Rate   61.1  3651000
55  New York City  5 to 17 Years       2016       Rate   27.2  3651000

In [43]:
asthma_nyc = asthma_nyc.loc[(asthma_nyc['Age Group'] == '0 to 4 years') & (asthma_nyc['DataFormat'] == 'Rate')]
asthma_nyc

         Location     Age Group  TimeFrame DataFormat   Data     Fips
0   New York City  0 to 4 years       2000       Rate  106.2  3651000
2   New York City  0 to 4 years       2001       Rate  112.5  3651000
4   New York City  0 to 4 years       2003       Rate  124.1  3651000
6   New York City  0 to 4 years       2004       Rate  109.5  3651000
8   New York City  0 to 4 years       2005       Rate   95.1  3651000
12  New York City  0 to 4 years       2006       Rate   99.3  3651000
16  New York City  0 to 4 years       2007       Rate   89.8  3651000
20  New York City  0 to 4 years       2008       Rate   92.3  3651000
24  New York City  0 to 4 years       2009       Rate   96.5  3651000
28  New York City  0 to 4 years       2010       Rate   82.6  3651000
32  New York City  0 to 4 years       2011       Rate   76.1  3651000
36  New York City  0 to 4 years       2012       Rate   75.6  3651000
40  New York City  0 to 4 years       2013       Rate   69.4  3651000
44  New York City  0 to 4 years       2014       Rate   69.1  3651000
48  New York City  0 to 4 years       2015       Rate   62.6  3651000
52  New York City  0 to 4 years       2016       Rate   61.1  3651000

In [46]:
asthma_nyc = asthma_nyc[['TimeFrame', 'Data']].set_index('TimeFrame', drop=True).transpose()